@model Uspelite.Web.Models.Account.Manage.IndexViewModel

@using (Html.BeginForm("UpdateInfo", "Manage", FormMethod.Post))
{
    <span id="user-information">
         @Html.LabelFor(x => Model.User.FullName)
        <p class="name">@Html.EditorFor(x => Model.User.FullName)</p>
        @Html.LabelFor(x => Model.User.ShortInfo)
        <p>@Html.TextAreaFor(x => Model.User.ShortInfo)</p>
    </span>

    <input type="submit" class="btn btn-success" value="Update"/>
}
