@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <li class="options">
            <a href="/Manage/Index" title="Manage">Hello @User.Identity.GetUserName() !</a>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    }
}
else
{
    <li class="options">
        <a href="~/Account/Login"><span class="glyphicon glyphicon-asterisk"></span> Sign in </a> | <a href="~/Account/Register"><span class="glyphicon glyphicon-pencil"></span> Register</a>
    </li>
}

