@model Uspelite.Web.Models.Categories.CategoriesViewModel

@{
    ViewBag.Title = "Category";
}

<div class="col-md-12 separator-right">

    <article class="linkbox large cat-showtime">
        <a href="#">
            <img src="images/dummy/560x390.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
            <div class="overlay">
                <h2>Jimenez signing keeps O's in contentio</h2>
            </div>
        </a>
        <a href="#" class="theme">
            Music
        </a>
    </article>

    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Gaming
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Music
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:ad -->
    <div class="ad bottom-margin">
        <a href=""><img src="images/dummy/banner_560x100.png" width="560" height="100" alt=""></a>
    </div>
    <!-- end:ad -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Gaming
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Music
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:ad -->
    <div class="ad bottom-margin">
        <a href=""><img src="images/dummy/banner_560x100.png" width="560" height="100" alt=""></a>
    </div>
    <!-- end:ad -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Gaming
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Music
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Movies
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Music
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Television
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-sm-6">
            <!-- start:article.linkbox -->
            <article class="linkbox cat-showtime">
                <a href="#">
                    <img src="images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive">
                    <div class="overlay">
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
                <a href="#" class="theme">
                    Music
                </a>
            </article>
            <!-- end:article.linkbox -->
        </div>
        <!-- end:col -->
    </div>
    <!-- end:row -->
    <!-- start:load-more -->
    <div class="text-center">
        <a href="#" class="show-more cat-showtime" title="Show More News">Show More News</a>
    </div>
    <!-- end:load-more -->

</div>