@using Uspelite.Data.Common.Roles

@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole(AppRoles.ADMIN_ROLE) || User.IsInRole(AppRoles.ULTIMATE_ROLE))
                    {
                        <li class="active"><a href="/Administration/Home">Administration</a></li>
                    }
                    @if (User.IsInRole(AppRoles.MANAGER_ROLE) || User.IsInRole(AppRoles.ULTIMATE_ROLE))
                    {
                        <li><a href="/Management/ManageArticles">Management</a></li>
                    }
                    @if (User.IsInRole(AppRoles.MANAGER_ROLE) || User.IsInRole(AppRoles.EDITOR_ROLE) || User.IsInRole(AppRoles.ULTIMATE_ROLE))
                    {
                        <li><a href="/Articles/Add">Add article</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}

<header id="page-header" class="hidden-xs">
    <div id="header-branding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h1>
                        <a href="~/"><img id="logo-img" src="~/Content/Pics/UspeliteLionWhite2.png" alt="Младите успели българи"></a>
                    </h1>
                </div>
                <div class="col-sm-6 col-md-4 text-center">

                    @*<form id="search-form">
                        <input type="text" name="qsearch" placeholder="Търсене">
                        <button><span class="glyphicon glyphicon-search"></span></button>
                    </form>*@

                </div>
                <div class="visible-md visible-lg col-md-4 text-right">

                    <div class="weather">
                        <i class="icon wi-day-cloudy"></i>
                        <h3><span class="glyphicon glyphicon-map-marker"></span> LA, California <span class="temp">+12° C</span></h3>
                        <span class="date">Thursday, 20.4.2014.</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="header-navigation">
        @(Html.Action<ChildActionsController>(x => x.GetClientNavigation()))
    </div>
</header>