

<header id="page-header" class="hidden-xs">
    <div id="header-branding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- start:logo -->
                    <h1>
                        <a href="~/"><img id="logo-img" src="~/Content/Pics/UspeliteLionWhite2.png" alt="Младите успели българи"></a>
                    </h1>
                    <!-- end:logo -->
                </div>
                <!-- end:col -->
                <!-- start:col -->
                <div class="col-sm-6 col-md-4 text-center">

                    <form id="search-form">
                        <input type="text" name="qsearch" placeholder="Търсене">
                        <button><span class="glyphicon glyphicon-search"></span></button>
                    </form>

                </div>
                <!-- end:col -->
                <!-- start:col -->
                <div class="visible-md visible-lg col-md-4 text-right">

                    <div class="weather">
                        <i class="icon wi-day-cloudy"></i>
                        <h3><span class="glyphicon glyphicon-map-marker"></span> LA, California <span class="temp">+12° C</span></h3>
                        <span class="date">Thursday, 20.4.2014.</span>
                    </div>

                </div>
                <!-- end:col -->

            </div>
            <!-- end:row -->

        </div>
        <!-- end:container -->

    </div>
    <!-- end:header-branding -->
    <!-- start:header-navigation -->
    <div id="header-navigation">

        <!-- start:container -->
        <div class="container">

            <!-- start:menu -->
            <nav id="menu">
                <ul class="nav clearfix">
                    <li class="home"><a href="~/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="cat-news">
                        <a href="~/News">Новини</a>
                        <!-- start:submenu-news -->
                        <div class="subnav-container">
                            <ul class="subnav-menu">
                                <li class="current">
                                    <a href="~/News/National">Национални</a>
                                    <div class="subnav-posts">
                                        <!-- start:article template-->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/World">Световни</a>
                                    <div class="subnav-posts">
                                        <!-- start:article template-->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/Sport">Спорт</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/FromUsers">От вас за вас</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/PhotoGallery">Фото галерия</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end:submenu-news -->
                    </li>
                    <li class="cat-sports">
                        <a href="~/Sport">Спорт</a>
                        <!-- start:submenu-sports -->
                        <div class="subnav-container">
                            <ul class="subnav-menu">
                                <li class="current">
                                    <a href="~/News/Sport/Football">Футбол</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/Sport/Football">Баскетбол</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/News/Sport/ValleyBall">Волейбол</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>

                                <li>
                                    <a href="~/PhotoGallery/Sport">Фото галерия</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end:submenu-sports -->
                    </li>

                    <li class="cat-showtime">
                        <a href="~/Interviews">Интервюта</a>
                        <!-- start:submenu-showtime -->
                        <div class="subnav-container">
                            <ul class="subnav-menu">
                                <li class="current">
                                    <a href="~/Interviews/WhyBulgaria">Защото избрах българия</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Interviews/TalkWith">На лавче с</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Gallery/Interviews">Фото галерия</a>
                                    <div class="subnav-posts">
                                        <!-- start:article -->
                                        <article>
                                            <a href="#"><img src="~/Content/Theme/fonts/images/dummy/265x160.jpg" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="#">A wonderful serenity has taken possession of my entire soul</a>
                                            </h3>
                                        </article>
                                        <!-- end:article -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end:submenu-showtime -->
                    </li>
                    <li class="cat-tech">
                        <a href="~/News/Technology">Нови технологии</a>
                        <!-- start:submenu-tech -->
                        <div class="dropnav-container">
                            <ul class="dropnav-menu">
                                <li><a href="~/News/Technologies/Mobile">Мобилни</a></li>
                                <li><a href="~/News/Technologies/Web">Уеб</a></li>
                                <li><a href="~/News/Technologies/Seccessed">Успелите</a></li>
                                <li><a href="~/News/Technologies/Seccessed">Фото галерия</a></li>
                            </ul>
                        </div>
                        <!-- end:submenu-tech -->
                    </li>
                    <li class="cat-business">
                        <a href="#">Сцената</a>
                        <!-- start:submenu-business -->
                        <div class="dropnav-container" style="display: none;">
                            <ul class="dropnav-menu">
                                <li><a href="#">От вас за вас</a></li>
                                <li><a href="#">Галерия</a></li>
                            </ul>
                        </div>
                        <!-- end:submenu-business -->
                    </li>
                <li class="cat-extra">
                    <a href="~/Video">Видео</a>
                    <!-- start:submenu-extra -->
                    <div class="dropnav-container">
                        <ul class="dropnav-menu">
                            <li><a href="Live/Index">Излъчване на живо</a></li>
                            <li><a href="author.html">Колекции</a></li>
                        </ul>
                    </div>
                    <!-- end:submenu-extra -->
                </li>

                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")    
 
            </nav>
            <!-- end:menu -->
        </div>
        <!-- end:container -->
    </div>
    <!-- end:header-navigation -->
</header>

