@using Uspelite.Data.Common.Roles


<header id="page-header-mobile" class="visible-xs">

    <!-- start:sidr -->
    <div id="sidr" class="sidr right" style="display: none;">
        <form id="search-form-mobile">
            <input type="text" name="qsearch" placeholder="Search weekly news">
        </form>
        <ul>
            <li class="cat-news">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#">News</a>
                <ul class="subnav-menu">
                    <li><a href="#">Nation</a></li>
                    <li><a href="#">World</a></li>
                    <li><a href="#">Elections</a></li>
                    <li><a href="#">Opinions</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sit amet</a></li>
                    <li><a href="#">Photo galleries</a></li>
                </ul>
            </li>
            <li class="cat-sports">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="category-1.html">Sports</a>
                <ul>
                    <li><a href="#">Football</a></li>
                    <li><a href="#">Pro Basketball</a></li>
                    <li><a href="#">College Basketball</a></li>
                    <li><a href="#">Hockey</a></li>
                    <li><a href="#">Baseball</a></li>
                    <li><a href="#">Soccer</a></li>
                    <li><a href="#">Photo galleries</a></li>
                </ul>
            </li>
            <li class="cat-lifestyle">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#">Lifestyle</a>
                <ul>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Beauty</a></li>
                    <li><a href="#">Health</a></li>
                    <li><a href="#">Parenting</a></li>
                    <li><a href="#">Home &amp; garden</a></li>
                </ul>
            </li>
            <li class="cat-showtime">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="category-2.html">Showtime</a>
                <ul>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Television</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Dolor sit amet</a></li>
                    <li><a href="#">Photo galleries</a></li>
                </ul>
            </li>
            <li class="cat-tech">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#">Tech</a>
                <ul>
                    <li><a href="#">Gadgets</a></li>
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Internet</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Technocast</a></li>
                </ul>
            </li>
            <li class="cat-business">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#">Business</a>
                <ul>
                    <li><a href="#">Investments</a></li>
                    <li><a href="#">Loans &amp; guarantees</a></li>
                    <li><a href="#">Human resources</a></li>
                    <li><a href="#">Culture &amp; media</a></li>
                    <li><a href="#">Market rules</a></li>
                </ul>
            </li>
            <li class="cat-extra">
                <a class="more" href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#">Extra +</a>
                <ul>
                    <li>
                        <a href="#">Homepage Sliders</a>
                        <ul>
                            <li><a href="index.html">Style one</a></li>
                            <li><a href="index_slider_2.html">Style two</a></li>
                            <li><a href="index_slider_3.html">Style three</a></li>
                            <li><a href="index_slider_4.html">Style four</a></li>
                            <li><a href="index_slider_5.html">Style five</a></li>
                            <li><a href="index_slider_6.html">Style six</a></li>
                        </ul>
                    </li>
                    <li><a href="archive.html">Archive page</a></li>
                    <li><a href="author.html">Author page</a></li>
                    <li><a href="contact.html">Contact page</a></li>
                    <li>
                        <a href="#">Blog styles</a>
                        <ul>
                            <li><a href="category-1.html">Style one</a></li>
                            <li><a href="category-2.html">Style two</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Single post styles</a>
                        <ul>
                            <li><a href="article-1.html">Single post default</a></li>
                            <li><a href="article-2.html">Single post with photos</a></li>
                            <li><a href="article-3.html">Single post with review</a></li>
                            <li><a href="article-4.html">Single post with audio</a></li>
                            <li><a href="article-full-1.html">Full width style one</a></li>
                            <li><a href="article-full-2.html">Full width style two</a></li>
                            <li><a href="article-cover-1.html">Single post with cover photo</a></li>
                            <li><a href="article-cover-2.html">Single post with cover video</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Video &amp; photo</a>
                        <ul>
                            <li><a href="video.html">Video page</a></li>
                            <li><a href="video-full.html">Video page - full width</a></li>
                            <li><a href="gallery.html">Gallery page</a></li>
                            <li><a href="gallery-full.html">Gallery page - full width</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- end:sidr -->
    <!-- start:row -->
    <div class="row">

        <!-- start:col -->
        <div class="col-xs-6">
            <!-- start:logo -->
            <h1><a href="/"><img src="~/Content/Pics/100x67white-transperant.png" alt="uspelite"></a></h1>
            <!-- end:logo -->
        </div>
        <!-- end:col -->
        <!-- start:col -->
        <div class="col-xs-6 text-right">
            <a id="nav-expander" href=""><span class="glyphicon glyphicon-th"></span></a>
        </div>
        <!-- end:col -->

    </div>
    <!-- end:row -->

</header>


<div class="top-nav"> 
	<div class="container">
		<nav class="top">
			<ul class="inline">
				<li class="topnav"><a href="/">ИНИЦИАТИВИ</a></li>
				<li class="topnav"><a href="/">ВЪЗМОЖНОСТИ</a></li>
			    <li class="topnav">@(Html.ActionLink<HomeController>("КОИ СМЕ НИЕ?", x => x.About()))</li>
				<li class="topnav"><a href="/">ПАРТНЬОРИ</a></li>
			</ul>
			<div class="login">
			    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
			</div>
		</nav>
	</div>
</div>

<header id="page-header" class="hidden-xs">
    <div id="header-branding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h1>
                        <a href="/"><img id="logo-img" src="~/Content/Pics/100x67white-transperant.png" alt="uspelite"></a> 
						<span class="heading">Uspelite.bg</span>
                    </h1>
                </div>

                    @using (Html.BeginForm("Articles", "Search", FormMethod.Get))
                    {
                        <div class="col-sm-6 col-md-4 text-center">
                            <!-- start search -->
                            <div class="search-form-wrapper col-sm-4">
                                <form id="search-form" name="search-form">
                                    <div class="input-group">
                                        <input class="form-control" name="query" placeholder="Търсете..." type="text" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!-- end search -->
                        </div>
                    }
                   </div>
            </div>
        </div>

    <div id="header-navigation">
        @(Html.Action<ChildActionsController>(x => x.GetClientNavigation()))
    </div>

</header>