<nav>
    <ul class="pagination">
        @if (Model.CurrentPage != 1)
            {
            <li>
                <a href="/Categories/Show?slug=@Model.Slug&page=@(Model.CurrentPage - 1)&pageSize=@Model.PageSize" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = Model.DisplayPageFrom; i <= Model.DisplayPageTo; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className">@Html.ActionLink(i.ToString(), "Show", "Categories", new { slug = Model.Slug, page = i, pageSize = Model.PageSize }, null)</li>
        }
        @if (Model.DisplayPageTo != Model.TotalPages)
            {
            <li>
                <a href="/Categories/Show?slug=@Model.Slug&page=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }

    </ul>
</nav>

