<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <connectionStrings>
    <add name="uspelite_usp1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1leksis;database=uspelite_usp1&quot;" providerName="System.Data.EntityClient" />
    <add name="uspelite_oldDbConnectionString" connectionString="metadata=res://*/UspeliteOldDb.csdl|res://*/UspeliteOldDb.ssdl|res://*/UspeliteOldDb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1leksis;database=uspelite_usp1&quot;" providerName="System.Data.EntityClient" />
    <add name="UspeliteDbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UspeliteDb;Integrated Security=True;MultipleActiveResultSets = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>