@using System.Globalization
@model IList<Uspelite.Web.Models.ChildActions.CategoryAndPostsViewModel>

<div id="sidebar">

    <div class="ad">
        <a href=""><img src="~/Content/Theme/images/dummy/banner_300x250.png" width="300" height="250" alt=""></a>
    </div>
	
	<section class="donation-section">
        <a  href="/Payments/Index" >
            <img src="~/Content/Pics/donations-button.png" />
        </a>
	</section>
	
	<section>
		<header>
            <h2>В социалните мрежи</h2>
            <span class="borderline"></span>
        </header>
		<div class="social-buttons-wrapper">
            <img src="~/Content/Pics/socialButtons/сиви/facebook-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon"/>
            <img src="~/Content/Pics/socialButtons/сиви/google-plus-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/linkedin-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/pinterest-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/twitter-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/youtube-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/flickr-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/instagram-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/vbox7-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
            <img src="~/Content/Pics/socialButtons/сиви/vimeo-social-icon.png" width="50" height="50" class="img-circle" alt="facebook-social-icon" />
        </div>
	</section>

    <section class="module-news top-margin">
        <header>
            <h2>Не изпускайте тези истории</h2>
            <span class="borderline"></span>
        </header>
        <!-- end:header -->
        <div class="article-container">
            @for (int i = 0; i < Model.Count; i++)
            {
                var categoryTitle = Model[i].Category.Title;
                var categorySlug = Model[i].Category.Slug;

                foreach (var post in Model[i].Posts)
                {
                    <article class="clearfix">
                        <a href="/@post.Slug">@Html.Image(x => post.MainArticlePic.Resized400Picture, "Alt responsive picture", "100", "56")</a>
                        @*<span class="published">@Html.DisplayFor(x => post.CreatedOn)<span class="category cat-sports">@Html.ActionLink(@categoryTitle, "Show", "Categories", new {slug = categorySlug }, null)</span></span>*@
                        <h3>
                            <a href="/@post.Slug">@Html.Raw(post.SanitizedPartialContent)</a>
                        </h3>
                    </article>
                }

                if (i % 2 == 0)
                {
                    <div class="ad ad-separator">
                        <a href=""><img src="~/Content/Theme/images/dummy/banner_300x250.png" width="300" height="250" alt=""></a>
                    </div>
                }

            }
        </div>
    </section>
</div>

