@model Uspelite.Web.Models.ChildActions.SliderViewModel


<div id="page-slider" class="slider-layout-1 clearfix">

    <!-- start:container -->
    <div class="container">

        <!-- start:carousel -->
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 452px; margin: 0px; overflow: hidden; cursor: move;">
            <div id="slider-carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 8190px; height: 452px;">


                @foreach (var VARIABLE in Model.Posts)
                {
  
                }
            <!-- start:row -->
                <div class="row" style="width: 1200px;">

                    <!-- start:col -->
                    <div class="col-sm-8">

                        <article class="linkbox large has-meta cat-sports">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/819x452.jpg" width="819" height="452" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h2>Jimenez signing keeps O's in contention</h2>
                                    <p>The concern within the Baltimore Orioles’ organization, as the negotiations with Ubaldo Jimenez began percolating over the last 48 hours, was that the Boston Red Sox or Toronto Blue Jays would snag...</p>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Sport
                            </a>
                            <div class="postmeta">
                                <span class="fa-calendar" itemprop="dateCreated">Nov 12th, 2015</span>
                                <span class="fa-comments"><a href="#">15</a></span>
                                <span class="icon fa-eye">471</span>
                            </div>
                        </article>

                    </div>
                    <!-- end:col -->


                    <!-- start:col -->
                    <div class="col-sm-4">

                        <article class="linkbox has-meta cat-sports">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Levy wins first European Tour title in China</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Sport
                            </a>
                            <div class="postmeta">
                                <span class="fa-calendar" itemprop="dateCreated">Nov 12th, 2015</span>
                                <span class="fa-comments"><a href="#">15</a></span>
                                <span class="icon fa-eye">471</span>
                            </div>
                        </article>



                        <article class="linkbox has-meta cat-sports">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Barkley and Shaq speak on on Donald Sterling</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Sport
                            </a>
                            <div class="postmeta">
                                <span class="fa-calendar" itemprop="dateCreated">Nov 12th, 2015</span>
                                <span class="fa-comments"><a href="#">15</a></span>
                                <span class="icon fa-eye">471</span>
                            </div>
                        </article>



                        <article class="linkbox has-meta cat-sports">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Ranking the top 100 prospects in the NFL draft</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Sport
                            </a>
                            <div class="postmeta">
                                <span class="fa-calendar" itemprop="dateCreated">Nov 12th, 2015</span>
                                <span class="fa-comments"><a href="#">15</a></span>
                                <span class="icon fa-eye">471</span>
                            </div>
                        </article>

                    </div>
                    <!-- end:col -->

                </div>
            <!-- end:row -->










            <!-- start:row -->
                <div class="row" style="width: 1200px;">

                    <!-- start:col -->
                    <div class="col-sm-8">

                        <article class="linkbox large cat-news">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/819x452.jpg" width="819" height="452" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h2>Jimenez signing keeps O's in contention</h2>
                                    <p>The concern within the Baltimore Orioles’ organization, as the negotiations with Ubaldo Jimenez began percolating over the last 48 hours, was that the Boston Red Sox or Toronto Blue Jays would snag...</p>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                News
                            </a>
                        </article>

                    </div>
                    <!-- end:col -->
                    <!-- start:col -->
                    <div class="col-sm-4">

                        <article class="linkbox cat-news">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Levy wins first European Tour title in China</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                News
                            </a>
                        </article>

                        <article class="linkbox cat-news">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Barkley and Shaq speak on on Donald Sterling</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                News
                            </a>
                        </article>

                        <article class="linkbox cat-news">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Ranking the top 100 prospects in the NFL draft</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                News
                            </a>
                        </article>

                    </div>
                    <!-- end:col -->

                </div>
            <!-- end:row -->





            <!-- start:row -->
                <div class="row" style="width: 1200px;">

                    <!-- start:col -->
                    <div class="col-sm-8">

                        <article class="linkbox large cat-showtime">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/819x452.jpg" width="819" height="452" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h2>Jimenez signing keeps O's in contention</h2>
                                    <p>The concern within the Baltimore Orioles’ organization, as the negotiations with Ubaldo Jimenez began percolating over the last 48 hours, was that the Boston Red Sox or Toronto Blue Jays would snag...</p>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Showtime
                            </a>
                        </article>

                    </div>
                    <!-- end:col -->
                    <!-- start:col -->
                    <div class="col-sm-4">

                        <article class="linkbox cat-showtime">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Levy wins first European Tour title in China</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Showtime
                            </a>
                        </article>

                        <article class="linkbox cat-showtime">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Barkley and Shaq speak on on Donald Sterling</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Showtime
                            </a>
                        </article>

                        <article class="linkbox cat-showtime">
                            <a href="#">
                                <img src="~/Content/Theme/images/dummy/350x150.jpg" width="560" height="390" alt="Responsive image" class="img-responsive">
                                <div class="overlay">
                                    <h3>Ranking the top 100 prospects in the NFL draft</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">
                                Showtime
                            </a>
                        </article>

                    </div>
                    <!-- end:col -->

                </div>
                <!-- end:row -->







            </div>
        </div>
        <!-- end:slider-carousel -->
        <!-- start:slider-nav -->
        <div class="slider-nav">
            <a id="slider-prev" class="prev" href="#" style="display: block;"><i class="fa fa-chevron-left"></i></a>
            <a id="slider-next" class="next" href="#" style="display: block;"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!-- end:slider-nav -->
    </div>
    <!-- end:container -->

</div>