html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, hgroup,
menu, nav, section {
    margin: 0;
    padding: 0;
}


.dl-horizontal dt {
    white-space: normal;
}


.rating-container {
    display: block;
    width: 100%;
}




#page-slider {
    margin: 0 auto;
    left: 42px;
}

@media ( min-width: 991px ) {
    div.col-sm-6 article a img.img-responsive {
        height: 150px;
        width: 266px;
    }
}

@media ( min-width: 768px ) {
    div.col-sm-6 article a img.img-responsive {
        height: 150px;
        width: 266px;
    }
}

/*@media ( min-width: 430px ) {
    div.col-sm-6 article a img.img-responsive {
        height: 150px;
        width: 266px;
    }
}*/

#header-branding > div > div > form > div > div {
    width: 400px;
    position: absolute;
    top: 40px;
    left: 250px;
}

/*#article-post {
    width: 690px;
}*/

#article-post img {
    max-width: 100%;
    height: auto;
}

@media ( min-width: 992px ) {
    #related-articles-section article img {
        max-height: 130px;
    }
}


#page-slider .col-sm-8 article img, #page-slider .col-sm-3 article img {
    height: auto;
    max-width: 100%;
    max-height: inherit;
}

#page-slider .col-sm-4 article img {
    max-height: inherit;
    height: auto;
}

#slider-carousel .col-sm-8 .overlay, #slider-carousel .col-sm-4 .overlay {
    padding-bottom: 5px;
}