html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, hgroup,
menu, nav, section {
    margin: 0;
    padding: 0;
}


.dl-horizontal dt {
    white-space: normal;
}


/*input,
select,
textarea {
    max-width: 280px;
}*/



.rating-container {
    display: block;
    width: 100%;
}

a {
    cursor: pointer;
}


/*Nav styles* comment to the pic/

/*.navbar-inverse {
    background-color: white;
    font-size: 10px;
    padding: 3px;
    margin-bottom: 200px;
}
.navbar-inverse li:hover {
    background-color: green;
}

.jumbotron {
    margin-top: 200px;
}

#logo {
    background: url("Pics/uspeliteLogo.png") no-repeat; 
    display:block; 
    height:150px; 
    width: 300px;
}*/







#logo-img {
    display: block;
    position: relative;
    top: -15px;
    left: -45px;
}

div.container {
    padding-left: 0;
    padding-right: 0;
}
