@model Uspelite.Web.Models.Articles.ArticlesSearchByTitleViewModel

<div class="form-group">
    @Html.LabelFor(x => x.Articles, new {@class = "col-lg-2 control-label"})
    <div class="col-lg-10">
        @Html.DropDownListFor(x => x.Articles, Model.Articles, new {id = "selectLink", @class = "form-control"})
    </div>
</div>

<div class="form-group">
    <div class="col-md-5 col-md-offset-2">
        <label for="copyText">Copy text</label>
        <input type="text" id="copyText" />
    </div>
</div>
