

<div id="insert-video-container">
    <span class="uspelite-close-button">&times;</span>
    <input id="insert-video-url-input" type="text" placeholder="Video url"/>
    <input id="insert-video-add-button" type="button" value="Add" onclick="addVideo()"/>
</div>
