@model Int32

<h1 id="title" data-model-id="@Model" >Population procedure started ...</h1>

<div id="loading-element" style="display:none">Loading...</div>
<span>Currently populated articles :</span> <span id="count-span"></span>
<div id="success"></div>

@section adminScripts {
    <script>
        function getAddMovieForm() {
            var id = $('#title').attr('data-model-id');
            $('#loading-element').html("Loading...");
            $('#count-span').load('/Administration/Crowlers/GetParsedNewsCount/' + id);
        }

        $(function () {
            var id = $('#title').attr('data-model-id');
            //var userId = $('#title').attr('data-user-id');
            $.post('/Administration/Crowlers/StartPopulate/', { id: id }, function (success) {
                $('#success').html('SUCCESS');
            });
        });

        setInterval(getAddMovieForm, 10000);
    </script>
}